*{
    padding: 0px;
    margin: 0px;
    font-family: century Gothic;
}
body{
    display: block;
}
.in-flex{
    flex: 1;
    padding: 12px;
}
.in-flex:first-child {
        flex: 2;
        background-color: #fff;
        margin: 20px;
}
.in-flex div {
    padding: 25px;
    background-color: #fff;
    margin: 0px ;
}
.div a{
    color: red;
}
